<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bad feed</title>
	<style>
	.pt{font-family:"Century Gothic", serif; font-size: 18px}
	</style>
</head>
<body>
<p class="pt">Ошибка:</p>
<p class="pt">Пожалуйста, убедитесь в том, что на каждый вопрос дан ответ, и затем заново отправьте форму.</p>
<br>
<br>
<p class="pt">Для возвращения к текущему эксперименту, пожалуйста, воспользуйтесь кнопкой "Назад".</p>
<p><a href="http://127.0.0.1:5000/">Начать с начала</a></p>
</body>
</html>