<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results</title>
	<style>
	.pt{font-family:"Century Gothic", serif; font-size: 16px}
	.rt{font-family:"Calibri", serif; font-size: 17px; font-weight: 500}
	.mk{font-family:"Calibri", serif; font-size: 17px; font-weight: 500; background: #00FF00; padding: 1px}
	</style>
</head>
<body>
<p class="pt">Результат:</p>
<ul>
{% if trgt | length == 0 -%}
	<p class="pt">По запросу {{ req }} ничего не найдено.</p>
{% else -%}
	{% for i in range(trgt|length) -%}
		<li>
		<p class="rt">
		{{ i + 1}}. 
		{% for s in trgt[i] -%}
			{% if s.isupper() == True -%}
				<span class="mk">{{ s }}</span>
			{% else -%}
				{{s}}
			{%- endif %}
		{%- endfor %}
		 : 
		{% for rs in req -%}
			{% if rs.isupper() == True -%}
				<span class="mk">{{ rs }}</span>
			{% else -%}
				{{rs}}
			{%- endif %}
		{%- endfor %}
		</p>
 		</li>
	{%- endfor %}
{%- endif %}
</ul>
<br>
<br><p style="font-family:'Century Gothic', serif; font-size: 14px; font-style: italic">***для выделенных цветом элементов выдачи есть небольшая проблема, суть которой в том, что при рендеринге шаблона с посимвольными итерациями for, jinja вставляет whitespace после символа, если этот символ выделен тэгом span, несмотря на то, что я установил предотвращающий это параметр для каждого из логических блоков (этот параметр работает, но почему-то только для чистых переменных, не выделенных тэгами html).</p>  
<p><a href="http://127.0.0.1:5000/ipa">IPA</a></p>
<p><a href="http://127.0.0.1:5000/search">Поиск</a></p>
<p><a href="http://127.0.0.1:5000/stats">Статистика</a></p>
<p><a href="http://127.0.0.1:5000/json">JSON</a></p>
<p><a href="http://127.0.0.1:5000/">Вернуться на главную</a></p>
</body>
</html